<% include header %>
<% if(error.status == 404){
    message = "No existe!!";
}
else{
    message = "No fue bien";
}%>
<div class="form_filtrar">
        <div class="col-lg-12">
          <h2 class="my-4" id="tituloTodos">Error</h2>
          <h1><%= message %></h1>
<h2>Código de error <%= error.status %></h2>
</div>   
<% include footer %>