<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NodePop</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        NodePop
                    </a>
                </li>
                <li>
                    <a id="Inicio" href="/">Inicio</a>
                </li>
                <li>
                    <a id = "Anuncios" href="/apiv1/anuncios">Anuncios</a>
                </li>
                <li>
                    <a href="/apiv1/tags">Tags</a>
                </li>
                <li>
                    <a id="crear" href="/apiv1/crear">Crear</a>
                </li>
             </ul>
        </div>
        <!-- /#sidebar-wrapper -->