<%include header%>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            <h1>NodePop</h1>
            <h2>KC Backend NodeJS-MongoDB</h2>            
        </div>
      </div>
      <!-- /#page-content-wrapper -->
      
      </div>
      <!-- /#wrapper -->
<%include footer%>